@use "mixin" as *;

.hero {
  background-image: url(/public/c1-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  margin-top: -80px;

  @include maxw(768) {
    background-image: url(/public/c1-bg-mobile.png);
    background-size: contain;
    background-position: top;
    padding-top: 80px;
    // margin-top: 64px;
  }
  &-container {
    display: flex;
    align-items: center;

    @include maxw(768) {
      flex-direction: column;
    }
  }
  &-content {
    flex: 1 1 0%;
    max-width: 653px;
    width: 100%;
    @include minw(1180) {
      padding: 40px 0;
    }

    &-sub-title {
      font-size: 28.58px;
      font-weight: 600;
      line-height: 41.45px;
      color: black;
      margin-bottom: 12px;

      @include maxw(1180) {
        font-size: 18px;
        font-weight: 600;
        line-height: 23.2px;
        text-align: left;
        padding-top: 24px;
        margin-bottom: 0px;
      }
    }
    &-title {
      color: #339316;
      font-family: "SF Pro Rounded", sans-serif;

      font-size: 62px;
      font-style: normal;
      font-weight: 800;
      line-height: 64px;

      @include maxw(1180) {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
      }

      &-img {
        width: 250px;
        @include maxw(1180) {
          width: 148px;
        }
      }

      &-item {
        background: linear-gradient(90deg, #ef673a 0.1%, #ffba1a 184.62%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 109.091% */

        @include maxw(1180) {
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px; /* 114.286% */
        }
      }
    }

    &-lines {
      position: absolute;
      bottom: -20px;
      left: 0;
      max-width: 595px;
      width: 100%;
      z-index: -1;

      @include maxw(1180) {
        bottom: -12px;
      }
    }
    &-desc {
      font-size: 28.58px;
      font-weight: 400;
      line-height: 47.16px;
      color: #000000;

      @include maxw(1180) {
        font-size: 16px;
        font-weight: 400;
        line-height: 26.4px;
        text-align: center;
        padding-top: 16px;
      }

      &-item {
        color: #272b30;
        text-align: left;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        @include maxw(1180) {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
        }
      }
    }

    &-btn {
      margin-top: 42px;
      @include maxw(1180) {
        margin: 20px 0;
        display: flex;
        justify-content: center;
      }
    }
  }

  &-image {
    flex: 1 1 0%;
    aspect-ratio: 1/1;
    margin-top: 12px;
    margin-bottom: 0;

    @include minw(768) {
      margin-left: -60px;
      margin-top: 164px;
      margin-bottom: 0;
    }
  }
}
